*.dll
*.ltrwld
resources/
res/
save/
BUILD_DEBUG/
BUILD_RELEASE/
IntermediateArchiver/
IntermediateEditor/
IntermediateGame/
IntermediateServer/
.vs/
*.suo
*.db
*.opendb
*.psd
*.tga
*.png
*.blend
*.blend1
*.obj
*.mtl
*.mp3
*.wav
