0BUILD_DEBUG/
0BUILD_RELEASE/res_src/
0BUILD_RELEASE/snd_src/
1BUILD_DEBUG_NMP/
1BUILD_RELEASE_NMP/res_src/
1BUILD_RELEASE_NMP/snd_src/
IntermediateArchiver/
IntermediateGame/
.vs/
*.suo
*.db
*.opendb
*.dll
*.exe
*.iobj
*.ipdb
*.pdb
save.bin
/Debug/
